canvas {
    border: 1px solid black;
}
button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: lightgray;
}
input[type="text"] {
    display: inline-block;
    width: 4em;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}